.box {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom:60px;
}

.demo {
  float: right;
  text-align: left;
  font-size: small;
}

.warning{
  color: red;
}

.prefix-header {
  margin-left: 20%;
  margin-right: auto;
}

.postfix-header {
  margin-left: auto;
  margin-right: 20%;
}

.main-content {
  padding: 70px 300px 20px 300px;
}

.content {
  padding: 20px 70px 20px 70px;
}

.table {
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .main-content {
    padding: 20px 8px;
  }
}

/* form specific formatting */
.form-group {
  display: flex;
  flex-direction: row;
}

.converted {
  margin-top: 50px;
}

.form {
  padding-bottom: 70px;
}

.newlabel {
  width: 25px;
  font-weight: bold;
  font-size: 1em;
  padding-right: 30px;
}

.form-group .input-control {
  flex: 1 1 auto;
  display: block;
  margin-bottom: 10px;
  margin-right: 8px;
  padding: 4px;
  margin-top: -4px;
}

.input {
  margin-bottom: 10px;
  margin-right: 8px;
  padding: 4px;
  margin-top: -4px;
}

button {
  padding: 5px 15px;
  margin-top: 10px;
  margin-left: 200px;
  min-width: 100px
}

@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
  }

  .form-group .input-control {
    margin-top: 2px;
  }

  .form-group label.right-inline {
    text-align: left;
    padding-right: 0;
    padding-left: 0;
  }
}