.App {
  text-align: center;
}
.App-card{
  margin:100px auto;
  position: sticky;
  padding :20px;
  text-align:center;
  max-width:700px;
  background-color:rgb(240, 240, 240);
}
* > body {
  margin: 0;
  box-sizing: border-box;
}