body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiBox-root {
   display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.footer{
  padding: 15px 0 ;
  background: black;
  margin-top: 100vh;
  height: 165px;
}
.footer .social{
  text-align: center;
 
} 
.footer .social{
  transform: translateY(10px) translateX(30px);
  } 
.footer .social a{
  text-decoration: none;
  font-size: 26px;
  color: black;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0px 8px;
  transition: all .3s;
  opacity: 0.80;
  margin-left: -103px;
}
.footer .social a:hover{
  opacity: 1;
  background: #fff;
  color: #03345f;
  transform: translateY(5px);
}
.footer ul{
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.8em;
  margin-bottom: 0;
  text-align: center;
}
.footer ul a{
  color: black;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li{
  display: inline-block;
  padding: 0 40px;
}
.footer ul li a:hover{
  opacity: 1;
  color: black;
  font-weight: bold;
}
.nav-links{
  border-radius: 50px;
}
.nav-links:hover{
  background: #fff;
  color: #03345f;
  cursor: pointer;
  transform: translateY(5px);
  transition: transform .3s;
}
.list1{
  margin-bottom: 10px;
}
.list1:hover{
  transform: translateY(5px);
  transition: transform .3s;
}

.footer .copyright{
  margin-top: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

@media only screen and(max-width:400px)
{
  .footer ul .list1{
      display: inline-block;
  }
}

.navbar-btn {
  color: black !important;
  font-size: 1rem !important;
}

.navbar-btn:hover {
  background-color: #1976D2 !important;
  color: white !important;
}